<html>
<body>
   <h1> Login Page </h1>
   <form action ="/createAccount" method="POST">
    User Name : <input name="userName" type="text"><br/>
    Password : <input name="password" type="password"><br/>
    <input type="submit" value="Log in">
     </form>
</body>
</html>