<html>
<body>
   <h1> Movies - Subscriptions Web Site </h1>
   <h2> Login Page </h2>
   <form action ="/menu" method="POST">
    User Name : <input name="userName" type="text"><br/>
    Password : <input name="password" type="password"><br/>
    <input type="submit" value="Log in">
    <h4 style="color: brown"><%= err %></h4>
   New User? : <a href="http://localhost:3000/createAccount">Create Account</a>
   </form>
</body>
</html>